/****************** 首页商品 *****************/
.products-item{
  width: 45.9%;
  height: 100px;
  padding-right: 3.9%;
  border-right: 1px solid #161616;
  border-bottom: 1px solid #161616;
  background: #292C35;
  float: left;
}
.products-item-even{
  width: 45.9%;
  height: 100px;
  border-bottom: 1px solid #161616;
  background: #292C35;
  padding-left: 3.9%;
  float: left;
}
.product-item-text{
  width: 50%;
  height: 70px;
  color: #ffffff;
  margin-top: 15px;
  float: left;
  text-align: left;
}
.product-item-text p{
  height: 43px;
  font-size: 15px;
  margin-bottom: 5px;
  display: -webkit-box;/*作为弹性伸缩盒子模型显示*/
  -webkit-line-clamp: 2; /*显示的行数；如果要设置2行加...则设置为2*/
  overflow: hidden; /*超出的文本隐藏*/
  text-overflow: ellipsis; /* 溢出用省略号*/
  -webkit-box-orient: vertical;
}
.product-item-text span{
  color: #B58024;
  font-size: 13px;
}
.product-item-img{
  width: 50%;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  /* float: left; */
}
.product-item-img img{
  max-width: 100%;
}
/******************* VIP *******************/
.level-welfare-wrap, .level-require-wrap{
  padding-bottom: 20px;
}
.VipTop-level-sign{
  display: inline-block;
}
.VipTop-level-text{
  position: absolute;
  bottom: -5px;
}
.vip-level-wrap ul li{
  float: left;
  width: 33.33%;
  height: 79px;
}
.vip-level-wrap ul div{
  width: 34px;
  height: 34px;
  border: 1px solid #CCCCCC;
  border-radius: 17px;
  margin-bottom: 9px;
  display: inline-block;
  vertical-align: middle;
}
.vip-level-wrap ul img{
  margin-top: 7px;
}
.vip-level-wrap ul li>p{
  color: #CCCCCC;
  font-size: 13px;
}
.Vip-level-T{
  color: #ffffff;
  font-size: 15px;
  background: #2A2C35;
}